body{
  background-color: gray;
}

.Title{
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: xx-large;
  font-weight: bold;
  margin: auto;
}

.Container{
  border: 1px solid black;
  border-radius: 20px;
  background: linear-gradient(135deg, rgba(251, 5, 5, 0.811), rgba(255, 0, 0, 0.674));
  margin: auto;
  margin-top: 1rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgb(255, 0, 0);
  padding: 10px;
  width: 30%;
  height: 350px;
}

.group{
  margin-bottom: 0.5rem;
  text-align: left;
  font-size: large;
  color: white;
}

.group label {
  display: block;
  margin-bottom: 0.5rem;
  color: black;
  font-weight: bold;
  font-size: large;
}

.group input {
  font-size: medium;
  width: 100%;
  padding: 0.8rem;
  border-radius: 8px;
  box-sizing: border-box;
}

.show-password label {
  font-weight: bold;
  font-size: medium;
}

button {
  padding: 1.6vh;
  width: 100%;
  background-color: black;
  color: white;
  font-size: large;
  border-radius: 8px;
  border-color: white;
  font-size: 1.3rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10%;
}

button:hover {
  background-color: gray;
  border-color: black;
  color: black;
}

.music{
  margin: auto;
  padding-left: 40%;
}

.ans{
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  width: 20%;
  height: 150px;
  margin: auto;
  padding: 10px;
  color: white;
  padding: 10px;
}

p{
  margin: auto;
  color: black;
  font-weight: bold;
  padding: 5px;
}